body{
    display: flex;
}

div{
    width: 200px;
    height: 200px;
    background-color: rgb(185, 235, 226);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#second{
    background-color: rgb(180, 233, 164);
}